/* Header Styles */

.primary-menu li {
	a {

		&:hover {
			background: rgba(0, 0, 0, .08);
		}
	}

	.dropdown li {
		text-align: left;

		&:hover {
			background: rgba(0, 0, 0, .08) !important;
			a {
				box-shadow: 0 1px 1px rgba(0, 0, 0, .08);
			}
		}
	}
}

.top-bar-section .primary-menu > li {
	margin-right: 2px;
	border-radius: 2px 2px 0px 0px !important;
	padding: 0 2px;

	& > a {
		border-radius: 2px 2px 0px 0px !important;
	}
}

// Site Header / logo

.page-header .site-logo {
	padding: rem-calc(30 0 0 0);
}

.page-header .site-title {
	position: static;
	clip: auto;
	padding: rem-calc(30 0);
	font-size: rem-calc(50);
}

.page-header .site-logo + .site-title {
	padding: rem-calc( 10 0 );
}