/* Page Styles */
.content-wrap {
	background: white;
	overflow: auto;
	border-radius: 2px;

	@extend .shadow;

	.content {
		padding: rem-calc(48);
	}

	.sidebar {
		padding: rem-calc( 24 24 0 24 );
		background: rgba(0, 0, 0, 0.06);
	}
}

.featured-image-wrap {

	margin: 0 auto;

	&, & >img {
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
	}

	@extend .shadow;
}

.featured-image-wrap + .row > .content-wrap {
	border-radius: 0;
	box-shadow: none;
}