/* Sidebar Styles */
.content-wrap {
	.sidebar {

		ul {
			list-style: none;
			margin-left: 0;

			li {
				border-top: 1px solid rgba(0,0,0, .08);
			}
		}

		.widget-title {
			font-size: rem-calc(16);
		}
	}
}