/* Keep all your Sass variables here */

$menu-bg-color: #577582;
$menu-font-color: rgba(0, 0, 0, 0.498039);
$menu-font-hover-color: rgba(255, 255, 255, .8);
$menu-bg-hover-color: #577582;

$transparent: rgba( 0,0,0,0 );

$primary-color: #de6540;
